@using adyen_dotnet_paybylink_example.Models;
@model List<PaymentLinkModel>

@{
    ViewData["Title"] = "Adyen Pay By Link Home";
}

<div class="main-container">
  <div class="info">
    <h1>Pay By Link Demo</h1>
    <p>Click to view an interactive example of Pay By Link.</p>
    <p>
      Make sure that the payment method you want to use in the payment links are enabled for your account.
      Refer to <a href="https://docs.adyen.com/payment-methods#add-payment-methods-to-your-account">the documentation</a> to add missing payment methods, 
      and <a href="https://docs.adyen.com/unified-commerce/pay-by-link/payment-links/api">how to create your payment links</a>.
    </p>
    <p>To learn more about payment links, check out
        <a href="https://docs.adyen.com/unified-commerce/pay-by-link">Pay By Link</a> in our documentation.
    </p>
  </div>

  <div class="info">
    <!-- Section for creating a new payment link -->
    <section class="create-pay-by-link">
      <h2>Create new payment link</h2>
      <div class="create-new-link">
        <table>
          <tr>
            <td>Amount: </td>
            <td><input type="text" id="amount"/></td>
          </tr>
          <tr>
            <td>Reference: </td>
            <td><input type="text" id="reference"/></td>
          </tr>
          <tr>
            <td colspan="2">
              <button id="create-new-link" class="create-new-link-button" onclick="createPaymentLink()">Create!</button>
            </td>
          </tr>
        </table>
      </div>
    </section>
  </div>

 <!-- Section that shows all payment links -->
  <section class="payment-links">
    <h2>Payment links</h2>
    <div class="create-new-link">
      <table>
      @foreach (PaymentLinkModel paymentLink in Model)
      {
         <tr>
           <td>Reference</td>            
           <td>
              <a href="@paymentLink.Url" id="@paymentLink.Reference">@paymentLink.Reference</a>
            </td>
         </tr>
         <tr>
           <td>PspReference</td>
            <td>
              <div id="@paymentLink.PspReference">@paymentLink.PspReference</div>
            </td>
         </tr>
         <tr>
           <td>ExpiresAt</td>            
           <td>
              <div id="@paymentLink.ExpiresAt">@paymentLink.ExpiresAt</div>
            </td>
         </tr>
          <tr>
           <td>Status </td>            
           <td>
              <div id="@paymentLink.Status">@paymentLink.Status</div>
            </td>
         </tr>
      }
      </table>
    </div>
  </section>
</div>

<script src="~/js/adyenImplementation.js" asp-append-version="true"></script>