@using adyen_dotnet_in_person_payments_example.Models;
@{
    ViewData["Title"] = "Adyen Cash Register View";
    string poiId = ViewBag.PoiId;
    string saleId = ViewBag.SaleId;
    List<TableModel> list = ViewBag.Tables;
}

<div class="main-container">
  <div class="info">
    <h2>Cash Register</h2>
    <section id="tables-section" class="tables-section">
      <div class="tables-grid">
        <ul class="tables-grid-list">
          @foreach (TableModel table in list)
          {
            <li class="tables-grid-item @(table.TableStatus is TableStatus.Refunded or TableStatus.RefundFailed or TableStatus.RefundedReversed ? "refund" : (table.TableStatus == TableStatus.Paid ? "paid" : ""))">
              <p class="tables-grid-item-title">@table.TableName</p>
              <p class="tables-grid-item-status">@table.TableStatus</p>
              <div class="tables-grid-item-currency-amount">
                <p class="tables-grid-item-currency">@table.Currency</p>
                <p class="tables-grid-item-amount">@table.Amount</p>
              </div>
            </li>
          }
        </ul>
      </div>
      <div class="info-grid">
        <h2>Information</h2>
        <ul class="info-grid-list">
          <li class="info-grid-item">
            <p class="info-grid-item-title">
              SALE ID:
              <b class="info-grid-item-description">
                @saleId
              </b>
            </p>
          </li>
          <li class="info-grid-item">
            <p class="info-grid-item-title">
              POI ID:
              <b class="info-grid-item-description">
                @poiId
              </b>
            </p>
          </li>
        </ul>
        <p id="current-selection">Select a table</p>
        <form id="payment-request-form" method="post">
          <input type="text" id="tableName" name="tableName" hidden>
          <input type="text" id="amount" name="amount" hidden>
          <input type="text" id="currency" name="currency" hidden>
          <button type="submit" class="payment-request-button">Pay</button>
        </form>

        <form id="reversal-request-form" method="post">
          <input type="text" id="reversalTableName" name="reversalTableName" hidden>
          <button type="submit" class="reversal-request-button">Reversal</button>
        </form>
      </div>
    </section>
    <div id="loading-grid" class="loading-grid disabled">
      <!-- Loading animation start -->
      <div class="loading-animation"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      <!-- Loading animation end -->
      <div class="loading-description">Waiting for terminal response ...</div>
      <input type="button" id="cancel-operation-button" class="cancel-operation-button" value="Cancel"/>
    </div>
  </div>
</div>

<!-- Binds all buttons for table selection and the `api/send-payment-request`/`api/send-payment-reversal-request` endpoints -->
<script src="~/js/cashregister-bindings.js" asp-append-version="true"></script>