@using adyen_dotnet_in_person_payments_example.Models;
@{
    ViewData["Title"] = "Adyen Cash Register View";
    string poiId = ViewBag.PoiId;
    string saleId = ViewBag.SaleId;
    List<TableModel> list = ViewBag.Tables;
}

<div class="main-container">
  <div class="info">
    <h2>In-Person Payments Demo</h2>
    <div id="loading-grid" class="loading-grid disabled">
      <!-- Loading animation start -->
      <div class="loading-animation"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      <!-- Loading animation end -->
      <div class="loading-description">Waiting for terminal response ...</div>
      <input type="button" id="cancel-operation-button" class="cancel-operation-button" value="Cancel"/>
    </div>
    <div id="tables-section" class="tables-section">
      <div class="tables-grid">
        <ul class="tables-grid-list">
          @foreach (TableModel table in list)
          {
            string paymentStatus = table.PaymentStatus switch
            {
                PaymentStatus.NotPaid => "not-paid",
                PaymentStatus.PaymentInProgress => "disabled",
                PaymentStatus.Paid => "paid",
                PaymentStatus.RefundInProgress => "disabled",
                PaymentStatus.Refunded => "disabled",
                PaymentStatus.RefundFailed => "refund-failed",
                PaymentStatus.RefundedReversed => "disabled",
                _ => ""
            };

            // Adds a css-class that sets pointer-events to none if it's disabled
            string disableButtonCssName = @paymentStatus == "disabled" ? "disabled" : "";

            <li class="tables-grid-item @disableButtonCssName">
              <p class="tables-grid-item-title">@table.TableName</p>
              <div class="tables-grid-item-currency-amount">
                <p class="tables-grid-item-currency">@table.Currency</p>
                <p class="tables-grid-item-amount">@table.Amount</p>
              </div>
              
              @if (!string.IsNullOrWhiteSpace(table.PaymentStatusDetails.SaleTransactionId))
              {
                  <p class="tables-grid-item-other"><b>Sale Transaction ID: </b> <br/> @table.PaymentStatusDetails.SaleTransactionId</p>
              }
              
              @if (table.PaymentStatusDetails.SaleTransactionTimeStamp != null)
              {
                  <p class="tables-grid-item-other"><b>Sale Transaction Timestamp: </b> <br/> @table.PaymentStatusDetails.SaleTransactionTimeStamp</p>
              }
              
              @if (!string.IsNullOrWhiteSpace(table.PaymentStatusDetails.PoiTransactionId))
              {
                  <p class="tables-grid-item-other"><b>POI Transaction ID: </b> <br/> @table.PaymentStatusDetails.PoiTransactionId</p>
              }
              
              @if (table.PaymentStatusDetails.PoiTransactionTimeStamp != null)
              {
                  <p class="tables-grid-item-other"><b>POI Transaction Timestamp: </b> <br/> @table.PaymentStatusDetails.PoiTransactionTimeStamp</p>
              }
              <p class="tables-grid-item-status @paymentStatus">@table.PaymentStatus</p>
            </li>
          }
        </ul>
      </div>
      <div class="info-grid">
        <h2>Cash Register</h2>
        <ul class="info-grid-list">
          <li class="info-grid-item">
            <p class="info-grid-item-title">
              SALE ID:
              <b class="info-grid-item-description">
                @saleId
              </b>
            </p>
          </li>
          <li class="info-grid-item">
            <p class="info-grid-item-title">
              POI ID:
              <b class="info-grid-item-description">
                @poiId
              </b>
            </p>
          </li>
        </ul>
        <form id="payment-request-form" method="post">
          <input type="text" id="tableName" name="tableName" hidden>
          <input type="text" id="amount" name="amount" hidden>
          <input type="text" id="currency" name="currency" hidden>
          <button type="submit" id="payment-request-button" class="payment-request-button disabled">Pay</button>
        </form>

        <form id="reversal-request-form" method="post">
          <input type="text" id="reversalTableName" name="reversalTableName" hidden>
          <button type="submit" id="reversal-request-button" class="reversal-request-button disabled">Reversal</button>
        </form>
        
        <input type="button" id="transaction-status-button" class="transaction-status-button disabled" value="Transaction Status"/>
      </div>
    </div>
  </div>
</div>

<!-- Binds all buttons for table selection and the `api/send-payment-request`/`api/send-payment-reversal-request` endpoints -->
<script src="~/js/cashregister-bindings.js" asp-append-version="true"></script>