@using adyen_dotnet_in_person_payments_loyalty_example.Models;
@{
    ViewData["Title"] = "Adyen Cash Register View";
    string poiId = ViewBag.PoiId;
    string saleId = ViewBag.SaleId;
    List<PizzaModel> list = ViewBag.Pizzas;
}

<div class="main-container">
  <div class="info">
    <div id="loading-grid" class="loading-grid disabled">
      <!-- Loading animation start -->
      <div class="loading-animation"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      <!-- Loading animation end -->
      <div class="loading-description">Waiting for terminal response ...</div>
      <input type="button" id="cancel-operation-button" class="cancel-operation-button" value="Cancel"/>
    </div>
    <div id="pizzas-section" class="pizzas-section">
      <div class="pizzas-grid">
        <ul class="pizzas-grid-list">
          @foreach (PizzaModel pizza in list)
          {
            string paymentStatus = pizza.PaymentStatus switch
            {
                PaymentStatus.NotPaid => "not-paid",
                PaymentStatus.PaymentInProgress => "disabled",
                PaymentStatus.Paid => "paid",
                _ => ""
            };

            // Adds a css-class that sets pointer-events to none if it's disabled
            string disableButtonCssName = @paymentStatus == "disabled" ? "disabled" : "";

            <li class="pizzas-grid-item @disableButtonCssName">
              <p class="pizzas-grid-item-title">@pizza.PizzaName</p>
                @if(pizza.IsDiscounted)
                {
                  <div class="pizzas-grid-item-original-currency-amount">
                    <p class="pizzas-grid-item-currency">€</p>
                    <p class="pizzas-grid-item-original-amount">@pizza.OriginalAmount</p>
                  </div>
                }
                <div class="pizzas-grid-item-currency-amount">
                <p class="pizzas-grid-item-currency">€</p>
                <p class="pizzas-grid-item-amount">@pizza.Amount</p>
              </div>
              <p class="pizzas-grid-item-status @paymentStatus" hidden>@pizza.PaymentStatus</p>
            </li>
          }
        </ul>
      </div>
      <div class="info-grid">
        <ul class="info-grid-list">
          <li class="info-grid-item">
            <p class="info-grid-item-title">
              SALE ID:
              <b class="info-grid-item-description">
                @saleId
              </b>
            </p>
          </li>
          <li class="info-grid-item">
            <p class="info-grid-item-title">
              POI ID:
              <b class="info-grid-item-description">
                @poiId
              </b>
            </p>
          </li>
        </ul>

        <form id="payment-request-form" method="post" hidden>
          <input type="text" id="pizzaName" name="pizzaName" hidden>
          <input type="text" id="amount" name="amount" hidden>
          <button type="submit" id="payment-request-button" class="payment-request-button disabled">Pay</button>
        </form>

        <form id="card-acquisition-request-form" method="post">
          <input type="text" id="cardAcquisitionPizzaName" name="cardAcquisitionPizzaName" hidden>
          <input type="text" id="cardAcquisitionAmount" name="cardAcquisitionAmount" hidden>
          <button type="submit" id="card-acquisition-request-button" class="card-acquisition-request-button disabled">Pay</button>
        </form>
        
        <input type="button" id="transaction-status-button" class="transaction-status-button" value="I am a member"/>
      </div>
    </div>
  </div>
</div>

<!-- Binds all buttons for table selection -->
<script src="~/js/cashregister-bindings.js" asp-append-version="true"></script>