@using adyen_dotnet_in_person_payments_loyalty_example.Models;
@{
    ViewData["Title"] = "Adyen Cash Register View";
    string poiId = ViewBag.PoiId;
    string saleId = ViewBag.SaleId;
    List<TableModel> list = ViewBag.Tables;
}

<div class="main-container">
  <div class="info">
    <div id="loading-grid" class="loading-grid disabled">
      <!-- Loading animation start -->
      <div class="loading-animation"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      <!-- Loading animation end -->
      <div class="loading-description">Waiting for terminal response ...</div>
      <input type="button" id="cancel-operation-button" class="cancel-operation-button" value="Cancel"/>
    </div>
    <div id="tables-section" class="tables-section">
      <div class="tables-grid">
        <ul class="tables-grid-list">
          @foreach (TableModel table in list)
          {
            string paymentStatus = table.PaymentStatus switch
            {
                PaymentStatus.NotPaid => "not-paid",
                PaymentStatus.PaymentInProgress => "disabled",
                PaymentStatus.Paid => "paid",
                PaymentStatus.RefundInProgress => "not-paid",
                PaymentStatus.Refunded => "not-paid",
                PaymentStatus.RefundFailed => "not-paid",
                PaymentStatus.RefundedReversed => "not-paid",
                _ => ""
            };

            // Adds a css-class that sets pointer-events to none if it's disabled
            string disableButtonCssName = @paymentStatus == "disabled" ? "disabled" : "";

            <li class="tables-grid-item @disableButtonCssName">
              <p class="tables-grid-item-title">@table.TableName</p>
                @if(table.IsDiscounted)
                {
                  <div class="tables-grid-item-original-currency-amount">
                    <p class="tables-grid-item-currency">€</p>
                    <p class="tables-grid-item-original-amount">@table.OriginalAmount</p>
                  </div>
                }
                <div class="tables-grid-item-currency-amount">
                <p class="tables-grid-item-currency">€</p>
                <p class="tables-grid-item-amount">@table.Amount</p>
              </div>
              <p class="tables-grid-item-status @paymentStatus" hidden>@table.PaymentStatus</p>
            </li>
          }
        </ul>
      </div>
      <div class="info-grid">
        <ul class="info-grid-list">
            <li class="info-grid-item">
            <p id="loyaltypoints-component" class="info-grid-item-title hidden">
              Loyalty points
              <b id="loyaltypoints-value" class="info-grid-item-description">
                
              </b>
            </p>
          </li>
          <li class="info-grid-item">
            <p class="info-grid-item-title" hidden>
              SALE ID:
              <b class="info-grid-item-description" hidden>
                @saleId
              </b>
            </p>
          </li>
          <li class="info-grid-item">
            <p class="info-grid-item-title" hidden>
              POI ID:
              <b class="info-grid-item-description" hidden>
                @poiId
              </b>
            </p>
          </li>
        </ul>

        <form id="payment-request-form" method="post" hidden>
          <input type="text" id="tableName" name="tableName" hidden>
          <input type="text" id="amount" name="amount" hidden>
          <button type="submit" id="payment-request-button" class="payment-request-button disabled">Pay</button>
        </form>

        <form id="card-acquisition-request-form" method="post">
          <input type="text" id="cardAcquisitionTableName" name="cardAcquisitionTableName" hidden>
          <input type="text" id="cardAcquisitionAmount" name="cardAcquisitionAmount" hidden>
          <button type="submit" id="card-acquisition-request-button" class="card-acquisition-request-button disabled">Pay</button>
        </form>

        <form id="reversal-request-form" method="post">
          <input type="text" id="reversalTableName" name="reversalTableName" hidden>
          <button type="submit" id="reversal-request-button" class="reversal-request-button disabled">Cancel</button>
        </form>
        
        <input type="button" id="transaction-status-button" class="transaction-status-button" value="I am a member"/>
      </div>
    </div>
  </div>
</div>

<!-- Binds all buttons for table selection and the `api/send-payment-request`/`api/send-payment-reversal-request` endpoints -->
<script src="~/js/cashregister-bindings.js" asp-append-version="true"></script>