@using Adyen.Model.Nexo
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Adyen Terminal Transaction Status";
    PaymentResponse paymentResponse = ViewBag.PaymentResponse;
    string errorMessage = ViewBag.ErrorMessage;
    string pizzaName = ViewBag.PizzaName;
    string serviceId = ViewBag.ServiceId;
}


<div class="status-container">
  <div class="status">
    <h2>Transaction Status for @pizzaName</h2>
    @if (string.IsNullOrWhiteSpace(errorMessage))
    {
        <p>
            <b>ServiceId:&nbsp;</b> @serviceId
        </p>

        if (paymentResponse != null)
        {
            <p>
                <b>Payment Response Result:&nbsp;</b> @paymentResponse.Response.Result
            </p>
            <p>
                <b>POI Transaction ID:</b>&nbsp; @paymentResponse.POIData?.POITransactionID?.TransactionID <br/>
                <b>POI Transaction TimeStamp:</b>&nbsp; @paymentResponse.POIData?.POITransactionID?.TimeStamp <br/>
                <b>Sale Transaction ID:</b>&nbsp; @paymentResponse.SaleData?.SaleTransactionID?.TransactionID <br/>
                <b>Sale Transaction TimeStamp:</b>&nbsp; @paymentResponse.SaleData?.SaleTransactionID?.TimeStamp <br/>
                <b>Authorized amount:</b>&nbsp;  @paymentResponse.PaymentResult?.AmountsResp?.Currency @paymentResponse.PaymentResult?.AmountsResp?.AuthorizedAmount <br/>
            </p>
        }
    }
    else
    {
        <p>
            @errorMessage
        </p>
    }
    <a class="button" href="/cashregister" to="#/">Return</a>
  </div>
</div>
