@using Adyen.Model.Recurring;
@using adyen_dotnet_authorisation_adjustment_example.Models;
@{
    ViewData["Title"] = "Adyen Admin Panel Details";
    List<PaymentModel> payments = ViewBag.Payments;
}

<div class="main-container">
    <div class="details-panel-payment-container"> 
    @{
        if (payments == null || !payments.Any())
        {
            <p>
                <b>
                    No details were found.
                </b>
            </p>
        }
        else
        {
            <p>This page shows all payments details of the reference, sorted by DateTime.</p>
            @foreach(var payment in payments)
            {
                double amount = (payment.Amount ?? 0.0) / 100L;
                <ul class="detailsList">
                    <li><b>Reference: &nbsp;</b> @payment.Reference</li>
                    <li><b>Result Code: &nbsp;</b> @payment.ResultCode </li>
                    <li><b>PspReference: &nbsp;</b> @payment.PspReference</li>
                    @if(!string.IsNullOrWhiteSpace(payment.OriginalReference))
                    {
                        <li><b>Original PspReference: &nbsp;</b> @payment.OriginalReference</li>
                    }
 
                    @if (payment.IsRefusalReasonShown())
                    {
                        <li>
                            <b>Refusal Reason: &nbsp;</b> @payment.RefusalReason
                        </li>
                    }
                        
                    @if (payment.IsAmountShown())
                    {
                        <li>
                            <!-- Show amount from minor units EUR `1234` as: EUR`12.34`-->
                            <b>Payment Amount: &nbsp;</b> @payment.Currency @amount
                        </li>

                        <li>
                            <b>Payment Method Brand: &nbsp;</b> @payment.PaymentMethodBrand
                        </li>
                    }
                        
                    <li><b>DateTime: &nbsp;</b> @payment.DateTime.ToLocalTime()</li>
                </ul>
            }
        }
    }
    
    <a class="button" href="/admin" to="#/">Return</a>
    </div>
</div>