@using adyen_dotnet_authorisation_adjustment_example.Models;
@{
    ViewData["Title"] = "Adyen Admin Panel Details";
    List<PaymentDetailsModel> paymentsHistory = ViewBag.PaymentsHistory;
}

<div class="main-container">
    <div class="info">
        <p>This page shows all payments details of the reference, sorted by DateTime.</p>
        <div class="details-panel-payment-container">
            @{
                if (paymentsHistory == null || !paymentsHistory.Any())
                {
                    <p>
                        <b>
                            No payments history is found for this Merchant Reference.
                        </b>
                    </p>
                }
                else
                {
                    @for (int i = 0; i < paymentsHistory.Count; i++)
                    {
                        var payment = paymentsHistory[i];
                        <!-- Add an `arrow down`-symbol when there is more than 1 payment. -->
                        if (i != 0 && i != paymentsHistory.Count)
                        {
                            <ul class="arrow-down">↓</ul>
                        }
                        double amount = (payment.Amount ?? 0.0) / 100L;
                        <ul class="detailsList">
                            <li><b>Merchant Reference: &nbsp;</b> @payment.MerchantReference</li>
                            <li><b>Result Code: &nbsp;</b> @payment.ResultCode </li>
                            <li><b>Psp Reference: &nbsp;</b> @payment.PspReference</li>
                            @if (!string.IsNullOrWhiteSpace(payment.OriginalReference))
                            {
                                <li><b>Original PspReference: &nbsp;</b> @payment.OriginalReference</li>
                            }

                            @if (!string.IsNullOrWhiteSpace(payment.RefusalReason))
                            {
                                <li>
                                    <b>Refusal Reason: &nbsp;</b> @payment.RefusalReason
                                </li>
                            }

                            @if (payment.Amount != null && !string.IsNullOrWhiteSpace(payment.Currency))
                            {
                                <li>
                                    <!-- Show amount from minor units EUR `1234` as: EUR`12.34`-->
                                    <b>Payment Amount: &nbsp;</b> @payment.Currency @amount
                                </li>
                            }

                            @if (!string.IsNullOrWhiteSpace(payment.PaymentMethodBrand))
                            {
                                <li>
                                    <b>Payment Method Brand: &nbsp;</b> @payment.PaymentMethodBrand
                                </li>
                            }

                            <li><b>DateTime: &nbsp;</b> @payment.DateTime.ToLocalTime()</li>
                        </ul>
                    }
                }
            }

            <a class="button" href="/admin" to="#/">Return</a>
        </div>
    </div>
</div>