@using Adyen.Model.Recurring;
@using adyen_dotnet_authorisation_adjustment_example.Models;
@{
    ViewData["Title"] = "Adyen Hotel Admin View";
    List<HotelPaymentModel> hotelPayments = ViewBag.HotelPayments;
}

<div class="main-container">
    <div class="info">
        <h1>ADMIN PANEL</h1>
        <div class="admin-panel-container">
            <p>The <b>admin panel</b> shows all payments for hotel bookings. In order to perform actions on the payments, follow the readme to ensure that you have setup your webhooks correctly to receive updates to the payments asynchronously. </p>
            <p>Select a pre-authorised payment to adjust the payment amount or to extend its validity (expiration date). To learn more, check out the documentation about <a href="https://docs.adyen.com/online-payments/classic-integrations/modify-payments/adjust-authorisation"> authorisation adjustments.</a></p>
        </div>
    </div>
    <br/>
    <div class="admin-panel-payment-container"> 
    @{
        if (hotelPayments == null || !hotelPayments.Any())
        {
            <p>
                <b>
                    No payments are stored. You can make a card payment in the <a href="/">Shopper View</a>.
                </b>
            </p>
        }
        else
        {
            @foreach(var payment in hotelPayments)
            {
                <ul class="adminList">   
                    <b>Result Code: @payment.ResultCode </b>
                    <b>PspReference: @payment.PspReference</b><br/>
                    <b>Reference:</b> @payment.Reference<br/>
                    
                    @if (payment.ResultCode == "Authorised")
                    {
                        <li>
                            <b>Payment Amount:</b> @payment.Currency @(payment.Amount/100L)<br/>
                        </li>
                    }
                    else
                    {
                        <li>
                            <b>Refusal Reason:</b> (@payment.RefusalReason)
                        </li>
                    }
                    <b>DateTime:</b> @payment.DateTime<br/>
                </ul>
            }
        }
    }
    </div>
</div>