@using Adyen.Model.Recurring;
@using adyen_dotnet_subscription_example.Models;
@{
    ViewData["Title"] = "Adyen Subscription Manage Tokens";
    List<SubscribedCustomer> recurringDetails = ViewBag.Details;
}

@await Html.PartialAsync("_NavigationMenu")

<div class='main-container'>
  <div class="info">
    <h1>Select a token</h1>
    <p>We show the tokens that we have received through the webhook notifications here. Select a token and initiate a payment for that shopper or disable the token. To learn more, check out the documentation about <a href="https://docs.adyen.com/online-payments/tokenization"> tokenization.</a></p>
</div>

@{
    if (recurringDetails == null || !recurringDetails.Any())
    {
        <p><b>No RecurringDetail references (tokens) are stored.</b></p>
    }
    else
    {
        foreach(var detail in recurringDetails)
        {
            <ul class="managetokens">
            @if (detail.SubscribedCustomerDetails != null)
            {
                <b>ShopperReference:<b/> @detail.ShopperReference</b><br/>
                foreach(var info in detail.SubscribedCustomerDetails)
                {
                    <li>
                        <b>PspReference:</b> @info.PspReference<br/>
                        <b>RecurringDetailReference:</b> @info.RecurringDetailReference <br/>
                        <a asp-area="" asp-controller="ManageTokens" asp-action="MakePayment" asp-route-id="@info.RecurringDetailReference">Make Payment</a> | 
                        <a asp-area="" asp-controller="ManageTokens" asp-action="Disable" asp-route-id="@info.RecurringDetailReference">Disable</a>     
                    </li><br/>
                }
            }
            </ul>
        }
    }
}
</div>
